body{
    margin: 0px;
}
h1{
    background-color: black;
    height: 200px;
    color: White;
    text-align: center;
    font-size: 120px;
    margin: 0px;
    padding-top: 5px;
}
li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
}
.main{
    margin: 2px;
    margin-left: 0px;
    margin-top: 0;
    padding: 4px;
    width: 200px;
    background-color: black;
    color: white;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.sub{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;

}
li:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}
li:hover ul{
    background-color: white;
    font-weight: normal;
}
p{
    text-align: center;
    display: block;
}
.content{
    display:flex; 
    flex-direction:inherit;
    justify-content: space-between;
    align-items: center;}
.image img{
    border: 10px solid black;
    height: 750px;
    width: 500px;
   display: block;
} 
.paragraph{
    font-size: 50px;
    border: 10px solid black ;
    margin-right: 200px;
}