body{
    margin: 0px;
}
h1{
    background-color: black;
    height: 200px;
    color: White;
    text-align: center;
    font-size: 120px;
    margin: 0px;
    padding-top: 5px;
}
li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
}
.main{
    margin: 2px;
    margin-left: 0px;
    margin-top: 0;
    padding: 4px;
    width: 200px;
    background-color: black;
    color: white;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.sub{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;

}
li:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;

}
li:hover ul{
    background-color: white;
    font-weight: normal;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    justify-content: space-around;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrap{
    display: flex; 
    flex-direction: row;
    
}
.item{
    border: 2px solid black;
   height: 500px;
   width: 450px;
   margin: 6px 20px;
    
}
p{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
}
